<form id="login-form" name="rsvpForm" ng-submit="rsvp({user: user})">

    <h1>We hope you can make it!</h1>

    <div class="alert alert-danger" ng-show="error">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>

    <div class="form-group" method="post">
      <p>Will you be able to attend?</p>  
      <input type="radio" ng-model="user.rsvp" name="rsvpyes" value="true" /> Yes
      <input type="radio" ng-model="user.rsvp" name="rsvpno" value="false" /> No
    </div><br>
    <div class="btn-group">
    <p>Total Guests (including yourself)</p>  

<input type="radio" name="1" value=1 ng-model="user.guests" checked>1
<br>
<input type="radio" name="2" value=2 ng-model="user.guests" checked>2

  <ul class="dropdown-menu" ng-model="user.guests" role="menu">
    <li><a href="#" value=1>1</a></li>
    <li><a href="#" value=2>2</a></li>
    <li><a href="#" value=3>3</a></li>
    <li><a href="#" value=4>4</a></li>
    <li><a href="#" value=5>5</a></li>
    <li><a href="#" value=6>6</a></li>
  </ul><br>
  <button type="submit" ui-sref="thankyou" class="btn btn-primary">Submit</button>
</form>
</div>

<img class="cute" src="http://i.dailymail.co.uk/i/pix/2014/02/04/article-2551855-1B00458100000578-275_634x471.jpg" />
  